---
layout: post
title: {{ data._title }} от {{ data._current_date }}
categories:
    - доклади за публикации
author:
    - Авокадо генератор
---
<a name="content"></a>
<a name="общо за деня"></a>

{% if data.tags_count %}
{%- for row in data.tags_count %}
- [{{ row['Tag'] }} - {{ row['Count'] }} бр.](#{{ row['Tag'] }})
{%- endfor -%}
{% endif %}

{% if data.tags_count %}
{%- for row in tags_count %}
- [{{ row['Tag'] }} - {{ row['Count'] }} бр.](#{{ row['Tag'] }})
{%- endfor -%}
{% else %}
{%- for tag in data.tags %}
- [{{ tag | capitalize }}](#{{ tag | lower }})
{%- endfor -%}
{% endif %}

## Всички <a name="all"></a>
{% if data.publications %}
| Заглавия | Описание |
| ------- | ------- |
{%- for publication in data.publications %}
| [{{ publication['Title'] }}]({{ publication['Link'] }}) | {::nomarkdown}{{ publication['Description'] | replace("\n", "<br>") }}{:/} |
{%- endfor -%}
{% else %}
    Няма публикации
{% endif %}

{% for tag in data._tags %}
## {{ tag | capitalize }} <a name="{{ tag | lower }}"></a>
[Обратно към началото](#content)
{% set csv_name = "tag_" ~ tag %}
{% if data.get(csv_name) %}
| Заглавия | Описание |
| ------- | ------- |
{%- for row in data.get(csv_name) %}
| [{{ row['Title'] }}]({{ row['Link'] }}) | {::nomarkdown}{{ row['Description'] | replace("\n", "<br>") }}{:/} |
{%- endfor %}
{% else %}
    Няма публикации
{% endif %}

{%- endfor -%}
